@font-face {
    font-family: 'Kumbh Sans';
    src: url(/forms/Kumbh-Sans.woff);
}

/* html * {
    color: black;
    font-family: 'Kumbh Sans';
} */

.section {
    display: flex;
    flex-direction: column;
    padding: 2% 11% 2% 11%;
    background: #FFFFFF;
}

/* top menu */
.logo_menu {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.link {
    margin: 0em 1em 0em 0;
    font-size: 15px;
}

.btn {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    color: #FFFFFF;
    padding: 11px 16px;
    background: #20AD96;
    border-radius: 4px;
}


/* top menu end*/
/* hero left */
.hero {
    background: #FAF8F6;
    height: 518px;
    width: 1077px;
    top: 73px;
}
.left .wave{
    position: absolute;
    top: 114px;
    left: 94px;
}
.hero .left .text-translucent {
    font-family: 'Kumbh Sans';
    margin: 5em 37em 1em 0px;
    color: #4A556C;
    opacity: 0.4;
}

.left .text-coarse {
    font-family: 'Kumbh Sans';
    font-weight: 800;
    font-size: 72px;
    color: #333461;
    margin: 0px 475px 19px 0px;
}

.left .text {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #4A556C;
    margin: 0px 538px 34px 0px;
}

.left>.btn {
    margin: 0px 0px 0px 0px;
}

/* hero left end */
/* hero right */
.hero .right>img {
    z-index: 1;
    position: absolute;
    width: 389px;
    height: 564px;
    left: 851px;
    top: 144px;
}

.element1 {
    z-index: 2;
    position: absolute;
    padding: 8px;
    width: 220px;
    height: 91px;
    left: 740px;
    top: 120px;
    background: #FFFFFF;
}

.element1>img {
    position: absolute;
    left: 22px;
    top: 24px;
}

.interest {
    font-family: 'Kumbh Sans';
    position: absolute;
    font-weight: 900;
    left: 96px;
    size: 24px;
    line-height: 32px;
    color: #333461;
}
.element1-text{
    font-family: 'Kumbh Sans';
    position: absolute;
    left: 96px;
    top: 56px;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #4A556C;
}
/* hero right end */
/* introduction */
.introduction{
    height: 518px;
    width: 1077px;
    top: 73px;
}
.wave1{
    width: 101px;
    height: 95px;
}
 .about-myself{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text-coarse{
    width: 492px;
    font-family: 'Kumbh Sans';
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.01em;
    color: #333461;
}
.text-description{
    width: 490px;
    height: 200px;
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-size: 17px;
    line-height: 25px;
    color: #4A556C;
}
p + p {
    margin-top: 10px;
  }
  .cards-wrapper
/* introduction end */